/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1em;
  color: #333; }

.window {
  padding: 2em;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }
  .window.medium {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
    width: 960px;
    height: 500px; }
  .window.small {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
    width: 400px;
    height: 300px; }
  .window p {
    margin: 0 0 1em 0;
    line-height: 1.25em; }
  .window h2 {
    font-size: 2em;
    line-height: 1em;
    text-transform: uppercase;
    color: #ccc; }

.button {
  background: #00bb00;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1em;
  transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s; }
  .button:hover {
    background: #009900; }

.main ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  .main ul li {
    width: 300px;
    margin: 1em 0.5em;
    padding: 0.5em;
    background: #fefefe;
    border: #eee solid 1px;
    border-radius: 3px; }
    .main ul li p {
      margin: 0; }
      .main ul li p span {
        display: block;
        clear: both; }
        .main ul li p span.caption {
          text-transform: uppercase;
          color: #999999;
          font-size: 0.9em;
          line-height: 1em; }
      .main ul li p.todos {
        width: 65%;
        float: left;
        border-right: #ccc solid 1px;
        padding-right: 3%; }
        .main ul li p.todos .number {
          color: #ee0000;
          text-align: center;
          font-size: 7em;
          line-height: 1em;
          font-weight: bold; }
        .main ul li p.todos .caption {
          text-align: center; }
      .main ul li p.duedate {
        width: 27%;
        float: right; }
        .main ul li p.duedate .date {
          color: #ee0000; }
      .main ul li p.name {
        font-size: 0.8em;
        line-height: 1em;
        clear: both;
        text-align: center;
        padding-top: 0.75em; }

.login p {
  text-align: center;
  font-size: 20px;
  line-height: 1em; }
.login h2 {
  margin-bottom: 2.5em; }

.accounts ul {
  margin: 1em 0 0 0;
  overflow: scroll; }
  .accounts ul li {
    display: inline; }
    .accounts ul li a {
      display: block;
      margin: 0 0 1em 0;
      padding: 1em;
      background: #eee;
      color: #ee0000;
      text-decoration: none;
      font-size: 1.5em;
      line-height: 1em;
      transition: all 0.25s;
      -o-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -webkit-transition: all 0.25s; }
      .accounts ul li a:hover {
        background: #ddd; }
