<div class="window large main">
	<div class="current_projects">
		<h2>Active Projects</h2>
		<ul>
			<li ng-repeat="project in projects | orderBy:'-todolists.incomplete' | filter:activeProject">
				<p class="todos">
					<span class="number">{{project.todolists.incomplete}}</span>				
					<span class="caption">Todos Remaining</span>
				</p>
				<p class="duedate">
					<span class="caption">Project Due:</span>
					<span class="date">{{project.dates.last.str}}</span>
				</p>
				<p class="nextevent">
					<span class="caption">Next Event:</span>
					<span class="date">{{project.dates.first.str}}</span>
				</p>
				<p class="name">{{project.name}}</p>
			</li>
		</ul>
	</div>
	<div class="overdue_projects">
		<h2>Overdue Items</h2>
		<div class="message {{ overdueTodos.messageClass }}">{{overdueTodos.message}}</div>
		<ul>
			<li ng-repeat="overdueTodo in overdueTodos.todos | orderBy:'todo.due_at_date'">
				<span class="project">{{ overdueTodo.project.name }}:</span>
				<span class="content">{{ overdueTodo.todo.content }}</span>
				<span class="date">Was Due On: {{ overdueTodo.date_str }}</span>
			</li>
		</ul>
	</div>
</div>